<div class="container">
  <div class="row">
    <h2>
      Your orders
    </h2>
  </div>
  <div class="row">
    Filtration + maybe sorting + SELECT shopId
  </div>
  <div class="row">
      <div *ngFor="let item of ordersList" class="card w-100">
        <a class="deco-none" routerLink="/orders/{{item.orderId}}">
        <h4 *ngIf="item.orderStatus" class="card-header"><strong>Status:</strong> {{getOrderStatus(item.orderStatus)}}</h4>
        <div class="card-body">
          <h5 *ngFor="let line of item.orderLines">{{line.goods.title}} - ${{line.goods.actualPrice}} - x{{line.amount}}</h5>
          <hr>
          <p class="card-title"><strong>Creation time:</strong> {{item.creationTime | date:dateService.datetimePattern:dateService.currentTimezone}}</p>
          <p class="card-text"><strong>Last update time:</strong> {{item.lastUpdateTime | date:dateService.datetimePattern:dateService.currentTimezone}}</p>
          <hr>
          <p class="card-text"><strong>Shop:</strong> {{item.shop.title}} - {{item.shop.address}}</p>
          <hr>
          <p class="card-text"><strong>Resulting price: {{item.fullPrice}}</strong></p>
          <button routerLink="/orders/{{item.orderId}}" class="btn btn-info">Show</button>
        </div>
        </a>
      </div>
  </div>
  <div *ngIf="paginationObject" class="row mt-2">
    <ngb-pagination class="w-100" [collectionSize]="paginationObject ? paginationObject.totalElements : 0" [pageSize]="pageSize" [(page)]="currentPage" [maxSize]="5" (pageChange)="changePage($event)"></ngb-pagination>
  </div>
</div>
