<div class="modal-header">
  <h4 class="modal-title">Please, log in</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Clicked exit button')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container p-3">
  <div class="form-group form-row">
      <input type="text" ngbAutofocus autocomplete="off" (keydown.enter)="authenticate()"
           class="form-control rounded" placeholder="user@user.com" name="email" [(ngModel)]="email">
  </div>
  <div class="form-group form-row">
    <input type="password" (keydown.enter)="authenticate()" name="password" class="form-control rounded"
           placeholder="Your password here" [(ngModel)]="password" />
  </div>
  <div class="row">
    <div class="col">
      <p class="btn btn-link"><a (click)="recoverPassword()">Forgot password?</a></p>
    </div>
    <div class="col text-right">
      <button type="button" [disabled]="isLoading"
              class="btn btn-primary border-0 ml-3" (click)="authenticate()">
        <span *ngIf="!isLoading" class="text">Log in</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <p *ngIf="message" class="m-2 alert alert-danger">{{message}}</p>
</div>
