<div class="container">
  <div class="row">
    <div class="col">
      <p class="display-1">Welcome to OrderMe!</p>
      <p class="lead">
        Feel free to navigate through categories and goods and make some orders.
      </p>
    </div>
  </div>
</div>
<a routerLink="/categories" class="link">
  <div class="bg jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Categories</h1>
      <p class="lead">Surf through our goods categories and find the goods you really need!</p>
    </div>
  </div>
</a>
<a routerLink="/goods" class="link">
  <div class="bg jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">All goods</h1>
      <p class="lead">Find the goods you want from the general list of goods.</p>
    </div>
  </div>
</a>
<a routerLink="/info" class="link">
  <div class="bg jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Information</h1>
      <p class="lead">Please, navigate here to read some information about making orders and the rules of site
        usage.</p>
    </div>
  </div>
</a>
