<div class="container">
  <div class="row">
    <h1>
      Orders
    </h1>
  </div>
  <div class="row"> <!-- filtration -->
    <div class="col-md-4">
      <label for="by-me">Processing by me: </label>
      <input class="ml-2" id="by-me" [disabled]="isUnprocessedOnlyChecked" [(ngModel)]="isProcessingByMeChecked" (change)="fetchOrders()" type="checkbox"/>
    </div>
    <div class="col-md-4">
      <label for="unprocessed">Unprocessed: </label>
      <input class="ml-2" id="unprocessed" [disabled]="isProcessingByMeChecked" [(ngModel)]="isUnprocessedOnlyChecked" (change)="fetchOrders()" type="checkbox"/>
    </div>
    <div class="col-md-4">
      <label for="statuses">Order status:</label>
      <select class="ml-2" #statuses id="statuses" (change)="setOrderStatusFilter(statuses.value)" >
        <option *ngFor="let status of orderStatusesToFilter" value="{{status}}">{{status}}
      </select>
    </div>
  </div>
  <hr>
  <div *ngIf="paginationObject" class="row">
    <div *ngFor="let item of paginationObject.content" class="card w-100">
      <a class="deco-none" routerLink="/orders/{{item.orderId}}">
        <div class="card-header w-100">
          <h4 *ngIf="item.orderStatus">
            <strong>Status:</strong> {{getOrderStatus(item.orderStatus)}}
          </h4>
            <h5>
              <span *ngIf="!item.processingBy" class="badge badge-danger">Unprocessed</span>
              <span *ngIf="processingByMeCheck(item.processingBy)" class="badge badge-success">Processing by me</span>
            </h5>
          </div>
      </a>
      <div class="card-body">
        <h5>Items:</h5>
        <p *ngFor="let line of item.orderLines">{{line.goods.title}} - ${{line.goods.actualPrice}} - x{{line.amount}}</p>
        <hr>
        <p class="card-title"><strong>Creation time:</strong> {{item.creationTime | date:dateService.datetimePattern:dateService.currentTimezone}}</p>
        <p class="card-text"><strong>Last update time:</strong> {{item.lastUpdateTime | date:dateService.datetimePattern:dateService.currentTimezone}}</p>
        <hr>
        <p class="card-text"><strong>Shop:</strong> {{item.shop.title}} - {{item.shop.address}}</p>
        <hr>
        <p class="card-text text-right"><strong>Resulting price: ${{item.fullPrice}}</strong></p>
        <button *ngIf="!item.processingBy" (click)="startProcessing(item.orderId, false)" class="btn btn-warning mr-2">Assign to me</button>
        <button *ngIf="!item.processingBy" (click)="startProcessing(item.orderId, true)" class="btn btn-primary mr-2">Start processing</button>
        <button routerLink="/orders/{{item.orderId}}" class="btn btn-info float-right">Show</button>
      </div>
    </div>
  </div>
  <div *ngIf="paginationObject" class="row">
    <ngb-pagination [collectionSize]="paginationObject ? paginationObject.totalElements : 0" [pageSize]="pageSize" [(page)]="currentPageNumber" [maxSize]="5" (pageChange)="changePage($event)"></ngb-pagination>
  </div>
</div>
