<div class="container">
  <div *ngIf="!isEditModeEnabled; else (isLoading ? loading : editing)">
    <div class="row">
      <div *ngIf="isAdministrator" class="col">
        <button (click)="startEditing()" class="btn btn-info">Edit</button>
        <button (click)="deleteCurrentGoods()" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>{{currentGoods.title}}</h2>
      </div>
    </div>
    <div *ngIf="(!filePath) && currentGoods.imageLink" class="w-80">
      <img class="img-fluid" [src]="currentGoods.imageLink | getDownloadURL"  alt="Current photo"/>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Description: {{currentGoods.description}}
        </p>
      </div>
    </div>
    <div *ngIf="currentGoods.oldPrice" class="row">
      <div class="col-12">
        <p>
          Old price:
          <strong>
          ${{currentGoods.oldPrice}}
          </strong>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Current price: <strong>${{currentGoods.actualPrice}}</strong>
        </p>
      </div>
    </div>
    <div *ngIf="currentGoods.goodsType" class="row">
      <div class="col-12">
        <h4 *ngIf="currentGoods.goodsType.title">Category: {{currentGoods.goodsType.title}}
        </h4>
      </div>
    </div>
    <div *ngIf="currentShopId" class="row">
      <div class="col-12">
        <h3 *ngFor="let item of currentGoods.goodsAvailabilities">
          {{item.amount}}
        </h3>
      </div>
    </div>
    <div>
      GET AMOUNT HERE
    </div>
    <div class="row" *ngIf="!isAdministrator">
      <div>
        CURRENT AMOUNT HERE (now = 1)
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="addToCart($event, linkToCartTpl)">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #linkToCartTpl>
  Successfully added {{this.currentGoods.title}} to your <a routerLink="/cart">cart</a>.
</ng-template>

<ng-template #loading>
  <div class="card-body text-center">
    <fa-icon [icon]="faSpinner" [spin]="true" size="8x"></fa-icon>
  </div>
</ng-template>

<ng-template #editing>
  <div class="row">
    <form [formGroup]="goodsEditFormGroup" (ngSubmit)="saveGoodsEditing()" >
      <div>
        <label for="file">You can choose a new photo file to upload: </label><br>
        <input id="file" type="file" accept="image/*" (change)="uploadFile($event)">
        <div>
          <p *ngIf="isUploadingPhoto" class="h4">
            Uploading... {{ uploadPercent | async }}
          </p>
        </div>
        <div *ngIf="filePath" class="w-80">
          <p>Uploaded new photo: </p>
          <img class="img-fluid" [src]="filePath | getDownloadURL" alt="Uploaded photo"/>
        </div>
        <div *ngIf="(!filePath) && currentGoods.imageLink" class="w-80">
          <p>Current photo: </p>
          <img class="img-fluid" [src]="currentGoods.imageLink | getDownloadURL"  alt="Current photo"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="title">Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="title" aria-describedby="titleHelper" placeholder="Enter goods title" formControlName="Title" required>
        <small id="titleHelper" class="form-text text-muted">Enter the new goods title</small>
      </div>

      <div class="form-group">
        <label class="control-label" for="description">Description: </label>
        <input type="text" class="form-control" id="description" aria-describedby="descriptionHelper" placeholder="Enter description" formControlName="Description">
        <small id="descriptionHelper" class="form-text text-muted">Enter the description</small>
      </div>

      <div class="form-group">
        <label class="control-label" for="price">Price (old price = {{currentGoods.oldPrice}}, actual price = {{currentGoods.actualPrice}}): </label>
        <input type="text" class="form-control" id="price" aria-describedby="priceHelper" placeholder="Enter price" formControlName="NewPrice">
        <small id="priceHelper" class="form-text text-muted">Enter the new goods price consisting of positive numbers with up to two decimal digits</small>
      </div>

      <div class="form-group">
        <label class="control-label" for="category">Category: </label>
        <select id="category" class="custom-select" formControlName="Category">
          <option *ngFor="let item of goodsTypes" [ngValue]="item">{{item.title}}</option>
        </select>
      </div>
      <button class="btn btn-warning" (click)="cancelEditing()">Cancel</button>
      <button class="btn btn-primary pull-right" [disabled]="!goodsEditFormGroup.valid" type="submit">Submit</button>
    </form>
  </div>
</ng-template>
