<div class="container">
  <div class="row">
    <h1>Goods creation</h1>
  </div>
  <div class="row">
    <form [formGroup]="goodsCreationFormGroup" (ngSubmit)="saveNewGoods()" >
      <div class="form-group">
        <label class="control-label" for="title">Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="title" aria-describedby="titleHelper" placeholder="Enter goods title" formControlName="Title" required>
        <small id="titleHelper" class="form-text text-muted">Enter the new goods title</small>
      </div>

      <div class="form-group">
        <label class="control-label" for="description">Description: </label>
        <input type="text" class="form-control" id="description" aria-describedby="descriptionHelper" placeholder="Enter description" formControlName="Description">
        <small id="descriptionHelper" class="form-text text-muted">Enter the description</small>
      </div>

      <div class="form-group">
        <label class="control-label" for="price">Price: </label>
        <input type="text" class="form-control" id="price" aria-describedby="priceHelper" placeholder="Enter price" formControlName="Price">
        <small id="priceHelper" class="form-text text-muted">Enter the price of positive numbers with up to two decimal digits</small>
      </div>

      <div class="form-group">
        <label class="control-label" for="category">Category: </label>
        <select id="category" class="custom-select" formControlName="Category">
          <option value="" disabled>Choose category</option>
          <option *ngFor="let item of goodsTypes" [ngValue]="item">{{item.title}}</option>
        </select>
      </div>
      <button class="btn btn-primary pull-right" [disabled]="!goodsCreationFormGroup.valid" type="submit">Submit</button>
    </form>
  </div>
</div>
